* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/* start admin login css */

.admin-login-main-flex {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #e4d7d7;
}

.admin-login-left-main {
  width: 100%;
  max-width: 50%;
  flex: 0 0 50%;
}

.admin-login-right-main {
  width: 100%;
  max-width: 50%;
  flex: 0 0 50%;
}

.auth-logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-logo {
  height: 60px;
  width: 100%;
  object-fit: contain;
}

.admin-login-main {
  max-width: 380px;
  margin: auto;
  width: 100%;
}

.login-btn-main .login-btn {
  margin-top: 28px;
  width: 100%;
}

.varify-btn-main.verify-btn {
  margin-top: 28px;
}

.checkbox-main {
  display: flex;
  align-items: center;
}

.checkbox-main .MuiButtonBase-root {
  margin-right: 10px;
  padding: 0px;
}

.checkbox-main .checkbox-lable {
  color: #9babc5;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 15px;
  line-height: 20px;
  font-family: "Poppins-Regular";
}

.checkbox-lable .MuiCheckbox-root {
  padding: 0px;
  margin-right: 10px;
}

.checkbox-lable .MuiFormControlLabel-label {
  font-family: "Poppins-Regular";
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.admin-login-inner .admin-wel-text {
  color: #ffff;
  font-size: 24px;
  line-height: 25px;
  font-family: "Poppins-Bold";
  margin-bottom: 4px;
}

.admin-login-inner .admin-sign-para {
  margin-bottom: 32px;
  color: #9babc5;
}

.admin-login-inner .admin-sign-para.margin-top {
  margin-bottom: 32px;
  color: #ffffff;
  margin-top: 20px;
  cursor: pointer;
}

.input-box .form-lable {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
  font-family: "Poppins-Medium";
  margin-bottom: 6px;
  color: #9babc5;
  margin-top: 0px;
}

.input-box {
  margin-bottom: 10px;
}

.cms-margin {
  margin-bottom: 10px !important;
}

.admin-forgot-para {
  color: #f7b90f;
}

.password-form-control .MuiInputBase-root .passwrd-eye {
  color: #fefeff;
}

.input-box .MuiInputBase-root {
  width: 100%;
  border-radius: 22px;
}

.password-form-control .MuiInputBase-root {
  border: 1px solid #3e3e3e;
  background-color: #161616;
}

.password-form-control .MuiInputBase-root input {
  border: 0px;
}

.input-box .MuiInputBase-root fieldset:hover {
  border-color: transparent;
}

.input-box .MuiInputBase-root .MuiInputAdornment-root {
  margin: 0px;
}

.checkbox-main .MuiSvgIcon-root {
  color: #4facfe;
  width: 20px;
  height: 20px;
}

.password-input-box fieldset {
  border: 1px solid #3e3e3e;
}

.password-input-box svg {
  color: #fff;
}

.password-input-box input {
  padding: 12px 14px;
  font-size: 14px;
  line-height: 15px;
  font-family: "Poppins-Regular";
  color: #fff;
}

/* end admin login css */